<!DOCTYPE html>
<html lang="en">
<%- include("includes/head.ejs") %>
</head>
<%- include("includes/navbar") %>

<form action="/contact" method="post">
    <label for="">Enter Your Product:</label>
    <input type="text" name="pname"> <br> <br>
    <label for="">Enter Your id:</label>
    <input type="text" name="id"> <br> <br>
<button type="submit">submit</button>
</form>
<ul>
    <% for (var person of products) { %>
        <li><%= person.fname %>  <%- person.ID %></li>
        <% } %> 

    <!-- <ol>
        <% for (var person of people) { %>
        <li><%= person.name %>  <%- person.age %></li>
        <% } %>
    </ol> -->
</ul>
<h1>The name you entered is <%= fname %>  </h1>
    <%- include("includes/footer.ejs") %>
   <%- include ("includes/end.ejs") %>